batch
notebooks
upload.sh
demo.py
.DS_Store
.idea
data/
src/outputlog/
results/*
!results/cifar10/
results/cifar10/*
!results/cifar10/fc-tanh/
results/cifar10/fc-tanh/*
!results/cifar10/fc-tanh/seed_0/
results/cifar10/fc-tanh/seed_0/*
!results/cifar10/fc-tanh/seed_0/mse/
results/cifar10/fc-tanh/seed_0/mse/*
!results/cifar10/fc-tanh/seed_0/mse/gd/
results/cifar10/fc-tanh/seed_0/mse/gd/*
!results/cifar10/fc-tanh/seed_0/mse/gd/lr_0.02/
results/cifar10/fc-tanh/seed_0/mse/gd/lr_0.02/*
!results/cifar10/fc-tanh/seed_0/mse/gd/lr_0.02/figures

!results/cifar10-20k/
results/cifar10-20k/*
!results/cifar10-20k/fc-tanh/
results/cifar10-20k/fc-tanh/*
!results/cifar10-20k/fc-tanh/seed_0/
results/cifar10-20k/fc-tanh/seed_0/*
!results/cifar10-20k/fc-tanh/seed_0/mse/
results/cifar10-20k/fc-tanh/seed_0/mse/*
!results/cifar10-20k/fc-tanh/seed_0/mse/gd/
results/cifar10-20k/fc-tanh/seed_0/mse/gd/*
!results/cifar10-20k/fc-tanh/seed_0/mse/gd/lr_0.05/
results/cifar10-20k/fc-tanh/seed_0/mse/gd/lr_0.05/*
!results/cifar10-20k/fc-tanh/seed_0/mse/gd/lr_0.05/figures
