batch
notebooks
upload.sh
demo.py
.DS_Store
.idea
data/
src/outputlog/
# 忽略 result 文件夹中的所有内容
# 忽略 results 文件夹中的所有内容
results/**

# 但不忽略 figures 文件夹及其内容
!results/*/*/*/*/*/figures/
!results/*/*/*/*/*/figures/**
!results/*/*/*/*/*/*/figures/
!results/*/*/*/*/*/*/figures/**
!results/*/*/*/*/*/*/*/figures/
!results/*/*/*/*/*/*/*/figures/**
!results/*/*/*/*/*/*/*/*/figures/
!results/*/*/*/*/*/*/*/*/figures/**
!results/*/*/*/*/*/*/*/*/*/figures/
!results/*/*/*/*/*/*/*/*/*/figures/**
